.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e8e6dd;
  color: #424242;
}
body {
  /*background-image: url("./giphy.gif");*/
  background-size: cover;

  padding: 0;
  margin: 0;
}

h1 {
  padding: 20px 0 10px 0;
  font-size: 4rem;
  font-family: caveat;
}
