.App {
  text-align: center;

  margin: 0 auto;
  /*!important;*/

  color: #424242;
}
body {
  background-color: #e8e6dd;
}

h1 {
  padding: 40px 0 0 0;
  font-size: 4rem;
  font-family: caveat;
  line-height: 22px;
}
