.dictionary {
  margin: auto;
  text-align: center;
  padding: 10px;

  color: rgb(102, 102, 102);
  background-color: rgba(167, 169, 169, 0.292);

  border-radius: 15px;
}
.dictionary .form .input {
  font-family: monospace;
  width: 70%;
  padding: 3px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: small;

  color: rgb(143, 137, 137);
  box-shadow: 0 10px 10px rgb(0 0 0 /10%);
}
section {
  background-color: rgba(244, 247, 248, 0.5);
  padding-top: 5px;

  border-radius: 10px;
  margin: 5px;
}
