.dictionary {
  margin: 10px auto;
  text-align: left;
  padding: 30px;
  max-width: 40rem;
  color: rgb(234, 232, 229);
  border-radius: 15px;
  background-color: rgb(116, 116, 117);
  border-radius: 15px;
}
.dictionary .form {
  font-family: monospace;
}
