.Phonetic .AudioPlayer {
  display: block;
  margin: 0 auto;
  width: 50%;

  box-shadow: 0 10px 10px rgb(0 0 0 /10%);
}
.Phonetic .text {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: x-large;
  color: rgb(72, 119, 147);
  font-weight: 400;
}
