h2 {
  margin: 20px 0 20px 0;
  padding: 10px;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: rgb(133, 182, 191);
}

.audiosec {
  background-color: transparent;
  padding-top: 5px;
}
