h2 {
  padding: 10px;
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
}
.results {
  text-align: left;
  padding-top: 10px;
}
.audiosec {
  background-color: transparent;
  padding-top: 5px;
}
